<div class="container-fluid row justify-content-center">
  <img class="col-5 d-none d-md-inline-block" src="about/beach.jpg" alt="praia">
  <div class="col-10 col-md-5">
    <h1 class="fs-1">About us</h1>
    <p class="fs-5 pt-2">
      Copamar Hotel is conveniently located just 300 meters from the famous Copacabana Beach, 2 blocks from Siqueira Campos Metro Station and 20 minutes from the airport, Corcovado and Sugar Loaf. It offers rooms with TV and free Wi-Fi. Some rooms at Hotel Copamar feature a private sauna and a hot tub. All rooms are practical equipped with air conditioning, mini-bar and cable TV. A buffet breakfast is served in the tropical rooms. Include fresh fruits, juices, breads and cakes. The reception can provide information about the sights in Rio de Janeiro. Guests have a variety of options for dining and nightlife around the Copamar Hotel.
    </p>
  </div>
</div>
